
$normal: 'Roboto';
$condensed: 'Roboto Condensed';

// default player color names
$playerRed: #ce0000;
$playerGreen: #0C906B;
$playerBlue: #270692;
$playerBlack: #2c2c2c;
$playerBrown: #7C3917;
$playerGold: #A58000;
